/*
 * Custom Combobox css
 * @author      Nageswara Rao Kanteti <nag.phpdeveloper@gmail.com>
 */
.ui-combobox {
        position: relative;
        display: inline-block;
       /* adjust styles for IE 6/7 */
        *zoom: 1;
        *display: inline;
        line-height:16px;
        font-size:12px;
        padding: 2px 0px 2px 0px;
        margin: 0px;
        color: #737373;
        font-family: 	"Lucida Sans Unicode", "Lucida Grande", sans-serif;


}
.ui-combobox-toggle {
        position: absolute;
        right: 4px;
        top: 8px;
        height:16px;
        width:16px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.2em;
        *top: 0.1em;
        color: #737373;
        font-family: 	"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.ui-menu-item, .ui-corner-all 
{
    line-height:16px !important;
    font-size:12px !important;
    font-family: 	"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    /* color: #FFF !important; Fix IE8 postcode select tag display problem
                    but this fix causes a problem with the skyline default style */
    color: #737373 !important;
    text-align:left;
} 



.ui-combobox-input {
        margin: 0px;
        padding: 2px 0px 2px 0px;
        width:390px;
        font-size:12px;
        line-height:16px;
        font-family: 	"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #737373;

}


/* this original for Autocomplete Combobox */
.ui-button { margin-left: -1px;

/* adjust styles for IE 6/7 */
* html margin-left:-1px;
* html display:inline;
*:first-child+html display: inline;
*:first-child+html margin-left: -1px;
* html margin-top: 8px;
* html height: 6px;
*:first-child+html margin-top: 8px;
*:first-child+html height: 6px;

    
}
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 3px 0; padding: 0.48em 0 0.47em 0.45em; }

/* *** Add this for visible Scrolling ;) */

.ui-autocomplete {
        max-height: 350px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
        height: 100px;
}



#openJobsForm .ui-widget-header {
    /*background:#336699 !important;*/
    background:transparent !important;
}
#openJobsForm .ui-tabs-active a, .ui-menu-item {
/*    color: #FFF !important;*/
}
#tabs a.TimeSlotActiveTab {
    color: #FFF !important;
    background-color: #158DC6;
}
#gauge_chart_div a.TimeSlotActiveTab {
    color: #FFF !important;
    background-color: #158DC6;
}

#DivPreferential .ui-widget-header {
    background:#336699 !important;

}

#DivPreferential .ui-tabs-active {
    background: #25AAE1;
    color: #FFF;
}
#gauge_chart_div .ui-tabs-active {
    background: #25AAE1;
    color: #FFF;
}

#DivPreferential .ui-tabs-active a.ui-tabs-anchor {
    color: #FFF !important;
}

#gauge_chart_div .ui-tabs-active a.ui-tabs-anchor {
    color: #FFF !important;
}
.SelectedPreferredLogo{
    border: 1px solid #179BDD !important;
    display: inline-block;
    padding: 2px;
}

#chart .leftAlign {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 26px;
    margin-right: 10px;
    padding: 5px 0 0;
    text-align: center;
    vertical-align: bottom;
    width: 94px;
}

#gauge_chart_div .ui-widget-content a {
    color: #01A8E3 !important;
}
#gauge_chart_div .ui-widget-content #cmd_date_go {
    color: #FFF !important;
}

/* For putting the text in middle in datatables in bookingPerformance page @Author Soubhik */
#bookingPerformanceResults tr td:nth-child(2), #bookingPerformanceResults tr td:nth-child(3),
#bookingPerformanceResults tr td:nth-child(5), #bookingPerformanceResults tr td:nth-child(4),
#bookingPerformanceResults tr td:nth-child(6), #bookingPerformanceResults tr td:nth-child(7)
{
    text-align: center;
}
#bookingPerformanceResults tr th:nth-child(2), #bookingPerformanceResults tr th:nth-child(3),
#bookingPerformanceResults tr th:nth-child(5), #bookingPerformanceResults tr th:nth-child(4),
#bookingPerformanceResults tr th:nth-child(6), #bookingPerformanceResults tr th:nth-child(7)
{
    text-align: center;
}
/* End of code */


#ui-datepicker-div {
    z-index: 200 !important;
}

