.turnaround-timeline, .turnaround-timeline-RED {
    //background-color:@grayLighter;
    div {
        height:24px;
        float:left;
        }
    //.value { background-color:@valueGreen; }
    border: solid 1px;
    width: 904px;  height: 24px; margin: 0 19px;
    }
.turnaround-timeline {
    background-color:@white;
    .value { background-color:@valueGreen; }
}
.turnaround-timeline-RED {
    background-color:@red;
    .value { background-color:@white; }
}

// 

.standardTAT { 
    clear:both; text-align:center; margin: 22px 22px 0 22px;
    padding-top: 6px;
    .left, .centre, .right{ margin:0 }
    .left, .right { width: 140px; }
    .left { text-align:left; }
    .right { text-align:right; }
    .centre { font-size: 14px;  width:624px; float:left; }
}



