body{
background:url(Skins/@{theme}/images/background_cheque_gray.png) repeat;
}
a, a:focus { color: @black; }

a:hover { color: @gray; }

#header { 
    #welcome { 
    color: @white;  }
}

#container-main {
	background:#ffffff url('Skins/@{theme}/images/black_gradient.jpg') repeat-x top left;  
	border-top:1px solid #e7e7e7;
}

legend{
    color: @red;
	}

#menu { 
    button {
	.plain-button( @black, @black, @white );
	border:1px solid @red;
	background-image:url(Skins/@{theme}/images/menu_bckg2.png);
    } 
    button:hover{
	color:@grayLightest;
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	border-top:1px solid @red;
	border-left:1px solid @redLight;
	border-right:1px solid @redLight;
	border-bottom:1px solid @red;
	}
	button:active{
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	color:@grayLightest;
        border-top:1px solid @red;
	}
    .disabled { color:@white;}
    .disabled:hover { .gradient(#f4f4f4, #f2f2f2); text-shadow: 0 1px 0 @gray;  border:1px solid #dddddd; }
}

.breadcrumb {
    div { 
        color: @black;
        a { color: @black; }
		 background: #EFEFEF;
    	border: 1px solid #CDCDCD;
        a:hover { color: @gray; }
    }
}

#jobSearchForm a, #productSearchForm a, #newJobBookingForm a, #policySearchForm a {
    .form-button;
}

#jobSearchForm a:hover, #productSearchForm a:hover, #newJobBookingForm a:hover, #policySearchForm a:hover{
.form-button-hover;
	}
#jobSearchForm a:active, #productSearchForm a:active, #newJobBookingForm a:active, #policySearchForm a:active{
 .form-button-active;
	}

/* logout button */

html body div#container-main div#header span#welcome a{
.form-button;
padding:3px 15px 3px 25px;
background:url("Skins/@{theme}/images/button_gradients_white.jpg") top left;
color:@white;
}

html body div#container-main div#header span#welcome a:hover{
.form-button-hover;
}

html body div#container-main div#header span#welcome a:active{
.form-button-active;
}

/*  Default Diary  */

.siteMapPanel {

 .borderDiv {
   border-color:#CCCCCC;
   border-width:1px;
   border-style:solid;
 }
 
 #thirdDiv{
.form-button{
border:1px solid @black;
  }
 }
}


#JobNetworkClientForm
{
        .form-button {
			border:1px solid @black;
        }
}

.jobBookingPanel {
    .blueText { color:@red; }
    form {
        .form-button {
			border:1px solid @black;
        }
    }
}

.DTTT_button {
    .form-button;
        &:hover{
        .form-button-hover;
        }
        &:active{
        .form-button-active;
        }
}

.blueBtn {
   .form-button;
    &:hover{
        .form-button-hover;
        }
    &:active{
        .form-button-active;
        }
}

a.inline-edit{
    .form-button;
    color:@white;
&:hover{
        .form-button-hover;
        }
}

a.colorbox{
    .form-button;
    color:@white;
&:hover{
        .form-button-hover;
        }
}


#timeline_container {
    .past, .past-RED { background: url("Skins/@{theme}/images/past.png") no-repeat center 35px; }
    .present {background: url("Skins/@{theme}/images/present.png") no-repeat center 35px; }
    .present-RED {background: url("Skins/@{theme}/images/present-red.png") no-repeat center 35px; }
    .future, .future-RED { background: url("Skins/@{theme}/images/future.png") no-repeat center 35px; } 
    }

form {
input#quick_find_btn,input#quick_find_btn2 {
        background-image:url('Skins/@{theme}/images/find_address.png');
    }  
}

.raJobsPanel {
   .leftAlign {
        color:@black;
    }
}


#CustomerDetails fieldset legend{
background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_user.png);
}

#deliveryAddress fieldset legend{
    background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_truck.png);
}

* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
	background: url("Skins/@{theme}/images/accordion_icons.jpg") no-repeat scroll 0 top transparent;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers {
    color: @black;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    color:@grayDark;
}

a.paginate_active{
    color:@black !important;
}

form{
    input.textSubmitButton{
    .form-button;
    }
}

.tableHover {
	background-color: @grayLight;
}

.CsvButton {
    background-image: url("Skins/@{theme}/images/button_gradients.png");
    border: 1px solid @black;
}


.AdminItemPanel{
background:url("Skins/@{theme}/images/folder.png") no-repeat 20px 20px;
label{
color: @black;
}
}

.bottomButtonsPanel button#finish_btn.gplus-blue{
float:right !important;
}
fieldset { 
    padding:0 1.4em 1.4em 1.4em;   
    /*margin: 0 0 1.5em 0;   */
    margin: 0 0 0.4em 0;
    border: 1px solid @gray !important; 
    .border-radius(2px);
}